.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 9;
  font-family: "Josefin Sans", sans-serif;
}

.topRight {
  flex: 1 1 33.33%;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topLeft {
  flex: 1 1 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 1 1 33.33%;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem:hover {
  color: gray;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px 10px 5px 0;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 10px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  border-radius: 10px;
  width: 30px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #30295f;
}

@media only screen and (max-width: 768px) {
  .topList {
    position: fixed;
    left: -100%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: calc(100vh - 50px);
    top: 50px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .topList.active {
    left: 0;
  }

  .topListItem {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: 10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }
}

button {
  border: none;
  background: none;
}
